$orange: #e68b39;

.page-heading {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-right: 40px;
}
.page-heading h1 {
    font-size: 1.8rem;
}

.bi {
    padding-right: 1.5rem;
    color: $orange;
    font-size: 2rem;
}