.category{
    color:white;
    padding: 1%;
    background-color:#f86600;
    box-shadow: 0 8px 15px -5px rgba(0, 0, 0,.7);
  }
  
  .row{
    padding:2%
  }
  .menu {
    margin: 0 auto;
  }
  .product-card {
    margin: 0 auto;
  }